[Unit]
Description=Lorawan Application Server
Wants=network-online.target
After=network-online.target

[Service]
User=appserver
Group=appserver
ExecStart=/usr/bin/lorawan-application-server
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=lora-app-server.service
